:is(.shop-page, .customer-info-page) .page-wrapper {
  display: flex;
  gap: 1rem;

  .left-section {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: $box-shadow3;
    padding: 0.8rem;
    padding-bottom: calc(1.6rem + 41.05px);
    gap: 1rem;
    position: relative;

    .filter-cont {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .cart-items {
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .item {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        &:last {
          margin-bottom: 10rem;
        }

        .item-img {
          width: 60px;
          height: 60px;
        }

        .name {
          width: 164px;
        }

        .price {
          font-size: 15px;
          color: $text-color4;

          span {
            font-weight: 500;
          }
        }

        .icon-btn-delete2 {
          margin-right: 6px;
          margin-left: auto;
        }
      }
    }

    .primary-btn {
      text-align: center;
      position: absolute;
      width: calc(100% - 1.6rem);
      bottom: 0.8rem;
    }
  }
}

.modal.item-info .content {
  display: flex;
  gap: 1rem;

  .left-section {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .item-img {
      width: 450px;
      height: 450px;
    }

    .button-cont {
      display: flex;
      gap: 0.6rem;

      button {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }
  }

  .descriptions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    min-width: 600px;
    overflow-x: auto;

    .name {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 42px;
    }

    .price {
      font-weight: 500;
      font-size: 1.8rem;
      margin-top: -0.8rem;
    }

    .label {
      font-weight: 500;
      font-size: 1.2rem;
      color: $border-color;
    }

    .seller .wrap {
      display: flex;
      gap: 1rem;
      align-items: center;
      // background: $background-color;
      border-radius: 8px;
      padding: 5px 8px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: $background-color;

        .seller-name {
          text-decoration: underline;
        }
      }

      .seller-img {
        border: 1px solid lighten($border-color, 25);
        border-radius: 50%;
        width: 75px;
        height: 75px;

        i {
          font-size: 75px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0.4rem;

        .seller-name {
          font-weight: 500;
          font-size: 1.2rem;
          color: $primary-color;
        }

        .cont {
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 2rem;
          color: $border-color;

          .line-span {
            width: 1px;
            height: 38px;
            background: $border-color;
          }

          .rating {
            display: flex;
            gap: 0.4rem;

            i {
              color: $primary-color;
            }

            span {
              font-weight: 500;
              color: $text-color;
            }
          }

          .products,
          .followers,
          .products-sold {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
              font-weight: 500;
              color: $text-color;
            }
          }
        }
      }
    }

    :is(.material-cont, .category-cont) {
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}

.customer-info-page .page-wrapper {
  .left-section {
    padding-bottom: .6rem;
    gap: .6rem;

    .image-cont {
      align-self: center;
      margin-top: .2rem;

      i {
        font-size: 184px;
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: .4rem;

      .name {
        font-weight: 500;
        font-size: 1.4rem;
        text-align: center;
      }

      .wrap {
        display: flex;
        gap: .4rem;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin: .2rem 0;

      div {
        display: flex;
        gap: .4rem;

        button {
          position: unset;
          width: 50%;
        }
      }

      .switch-cont {
        gap: 4px;
        padding: .3rem;
        background: lighten($second-color-btn, 8);
        border-radius: 8px;
        border: 1px solid $border-color2;

        button.transparent {
          background: transparent;
          color: $primary-color;
          box-shadow: unset;
          font-weight: 500;

          &:hover {
            background: rgba($primary-color, 0.25);
          }

          &:active {
            background: rgba($primary-color, 0.35);
          }
        }
      }
    }
  }

  .items-section.empty-listing {
    display: flex;
  }

  .rates-section {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 100%;

    .rates-item {
      display: flex;
      gap: .6rem;
      flex-direction: column;
      padding: .8rem;
      border-radius: 8px;
      height: fit-content;
      transition: .03s;

      &:hover {
        background: $background-color;
      }

      .top-section {
        display: flex;
        gap: .6rem;

        .content-wrap {
          .name {
            font-size: 1.2rem;
            font-weight: 500;
          }

          .stars-wrap i {
            font-size: 1.2rem;
            color: $primary-color;
          }
        }
      }

      p.description {
        color: $text-color4;
        padding: 0 .6rem;
      }
    }
  }
}

#rate-shop-modal .modal-container {
  .content {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    .title {
      font-size: 1.6rem;
      font-weight: 500;
    }

    .modal-shop-info {
      display: flex;
      gap: .8rem;

      .seller-img {
        height: 60px;
        width: 60px;

        i {
          font-size: 65px !important;
        }
      }

      .desc {
        .shop-name {
          font-size: 1.2rem;
          font-weight: 500;
        }

        .text-with-icon p {
          color: $text-color4;
        }
      }
    }

    .rating-content .rating-star-buttons {
      display: flex;
      gap: 1rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      button {
        font-size: 1.8rem;
        color: $primary-color;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: .3s;

        &:hover {
          scale: 1.2;
        }
      }
    }
  }

  .action-buttons-cont {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .8rem;
    margin-top: 1.6rem;
  }
}