.signup-page {
  background-image: linear-gradient(rgba(98, 107, 190, 0.05),
      rgba(98, 107, 190, 0.05)),
    url(../images/background/reg.jpg);
  margin: 0;
  height: 100vh;

  .content {
    display: flex;
    height: 100%;

    .wrapper {
      display: flex;
      width: 100%;
      padding: 0;

      .form-container {
        display: none;

        .title {
          margin-bottom: 2rem;
        }

        .gender .options-wrapper {
          flex-direction: column;

          .option:hover {
            box-shadow: 0 0 10px $border-color;
          }

          .button {
            color: $text-color2;
            background: transparent;
          }

          input:checked+.button {
            border: 2px solid #007bff;
            box-shadow: 0 0 10px $border-color;
          }
        }

        .actions {
          display: flex;
          margin-top: 2.5rem;
          align-items: end;
          justify-content: space-between;
        }
      }
    }
  }
}