.home-page {
  display: flex;
  flex-direction: column;

  .landing {
    background-image: linear-gradient(rgba(35, 38, 66, 0.5),
        rgba(35, 38, 66, 0.5)),
      url(../images/background/landing.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 68px;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;

    .page-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: auto;
      text-align: left;
      width: 100%;
      height: fit-content;
      // background: rgba(255, 255, 255, 0.6);
      padding: 2.8rem 1.5rem;
      padding-top: 5.5rem;

      p {
        font-size: 3.4rem;
        font-weight: 500;
        color: $text-color2;

        &:last-of-type {
          font-size: 1.6rem;
          color: $primary-color;
        }
      }

      .primary-btn {
        width: fit-content;
      }

      img {
        position: absolute;
        top: 50%;
        right: 1.8rem;
        transform: translateY(-50%);
        width: 600px;
        filter: drop-shadow(0 0 10px rgba($primary-color, 0.5));
      }
    }
  }

  .contact-details-wrap {
    background: $container-color2;
    height: fit-content;
    color: $text-color2;
    font-weight: 600;
    padding: 68px 0;

    .page-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        margin: 0 auto 4rem;
        padding-bottom: .2rem;
        border-bottom: 2px solid $text-color2;
        font-size: 1.2rem;
      }

      .content-wrapper {
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-bottom: .5rem;

        div {
          display: flex;
          flex-direction: column;
          gap: .5rem;
        }
      }

      span {
        color: lighten($text-color4, 30);
        margin-right: .2rem;
      }
    }
  }
}