.nav-cont {
  position: fixed;
  width: 100%;
  top: 0;
  background: $container-color2;
  z-index: 3;

  nav {
    width: 100%;
    max-width: 1300px;
    height: 68px;
    margin: auto;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .logo {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      img {
        border-radius: 10px;
        background: transparent;
        height: 50px;
        width: 50px;
      }

      p {
        color: $text-color2;
        font-size: 4.2rem;
        font-family: "Deutschlander";

        span {
          font-family: "Deutschlander";
          color: $primary-color;

          &:first-of-type {
            color: silver;
          }
        }
      }
    }

    .nav-links {
      position: absolute;
      @include center(3);
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        height: 68px;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        cursor: pointer;

        a {
          color: $text-color2;
          transition: 0.3s;
          text-wrap: nowrap;

          &::after {
            content: "";
            display: block;
            border-radius: 2px;
            height: 2px;
            width: 0;
            background: $primary-color;
            margin: auto;
            transition: 0.3s;
          }
        }

        &:hover {
          a {
            color: $primary-color;
            margin-bottom: 6px;

            &::after {
              margin-top: 6px;
              width: 100%;
            }
          }
        }
      }

      li.active {
        a {
          color: $primary-color;
          margin-bottom: 6px;

          &::after {
            margin-top: 6px;
            width: 100%;
          }
        }
      }
    }

    .counter {
      position: absolute;
      top: -10px;
      right: -12px;
      background: $primary-color;
      border: 2px solid $container-color2;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      font-size: 0.8rem;
      font-style: normal;
      z-index: 1;
    }

    .nav-profile-cont {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      .buttons-wrapper {
        display: flex;

        .ghost-btn {
          position: relative;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          // .counter {
          //   width: 15px;
          //   height: 15px;
          //   top: 8px;
          //   right: 8px;
          // }

          .link-cont {
            width: 420px;
            max-width: unset;
            font-size: 1rem;

            .wrapper {
              padding: 0.8rem 0.6rem;
              display: flex;
              flex-direction: column;
              gap: 0.2rem;
              max-height: 40rem;
              overflow: auto;

              a {
                text-align: left;
                flex-direction: column;
                gap: 0.2rem;

                .title {
                  font-weight: 500;
                }

                p,
                .date {
                  color: $text-color4;
                }

                .seller {
                  color: $primary-color;
                }

                .date {
                  font-size: 0.8rem;
                  width: 100%;
                  text-align: right;
                }
              }

              li p {
                color: $text-color;
              }
            }
          }
        }
      }

      .profile-wrapper {
        position: relative;
        display: flex;
        gap: 0.6rem;
        align-items: center;
        padding: 0.4rem;
        border-radius: 30px;
        cursor: pointer;

        i {
          font-size: 2.4rem;
          line-height: 0;

          &:last-of-type {
            font-size: .8rem;
            margin-right: 0.4rem;
          }
        }

        p {
          max-width: 166px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .link-cont {
        position: absolute;
        top: 110%;
        right: 0;
        width: 12rem;
        // width: 100%;
        // max-width: 255px;
        z-index: 3;
        @include inactive-overlay;
        transition: 0.3s;

        &.show-modal {
          @include active-modal;
          height: fit-content;
        }

        .wrapper {
          display: flex;
          flex-direction: column;
          background: white;
          border-radius: 6px;
          padding: 0.4rem;

          a {
            padding: 0.6rem 1rem;
            border-radius: 6px;
            display: flex;
            align-items: baseline;
            gap: 0.6rem;
            cursor: pointer;
            color: $text-color;

            &.unread {
              background: lighten($primary-color, 36);
            }

            &:hover {
              background: $hover-color;
            }

            &:active {
              background: $unhover-color;
            }

            i {
              font-size: 1.4rem;
              color: #575757;
              line-height: 0;
            }
          }
        }
      }
    }
  }
}

.nav-cart-cont {
  position: absolute;
  height: 100vh;
  right: -40%;
  background: white;
  width: 420px;
  z-index: 4;
  transition: 0.6s ease-in-out;
  overflow: hidden;

  &.show-modal {
    right: 0;
  }

  .nav-cart {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: 107px;
    overflow: hidden;
    height: 100%;
    position: relative;

    .nav-cart-title {
      font-size: 1.6rem;
      font-weight: 500;
      padding: 1rem;
    }

    .cart-items {
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      padding: 0 .5rem;

      .item {
        display: flex;
        gap: 0.4rem;
        padding: .4rem;
        border-radius: 6px;
        transition: .3s;

        &:hover {
          background: $hover-color;
        }

        .item-img {
          width: 84px;
          height: 84px;
        }

        .descriptions {
          display: flex;
          flex-direction: column;
          gap: .4rem;
          width: 70%;

          .price {
            font-size: 15px;
            color: $text-color4;

            span {
              font-weight: 500;
            }
          }
        }

        .icon-btn-delete2 {
          margin-right: 6px;
          margin-left: auto;
        }
      }
    }

    .bottom-cont {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: .8rem 1rem;
      display: flex;
      flex-direction: column;
      gap: .6rem;

      .total-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;

        span {
          font-weight: 500;
        }
      }

      a {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 265px;
  background: $container-color2;

  nav {
    padding: 1rem 0.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .logo-cont {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;

      img {
        border-radius: 10px;
        background: transparent;
        height: 75px;
        width: 75px;
      }

      p {
        color: $text-color2;
        font-size: 3.6rem;
        font-family: "Deutschlander";
        line-height: 44px;

        span {
          font-family: "Deutschlander";
          color: $primary-color;

          &:first-of-type {
            color: silver;
          }
        }
      }
    }

    ul.links {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      li a {
        padding: 0.6rem 0.8rem;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;
        display: flex;
        gap: 1rem;
        width: 100%;
        color: $text-color2;

        &:hover {
          background: rgba(192, 192, 192, 0.2);
        }

        &.active {
          background: rgba(192, 192, 192, 0.4);
          color: $primary-color;
        }

        .counter-in-btn {
          font-size: .8rem;
          font-weight: 500;
          background: $primary-color;
          color: $text-color2;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          line-height: 2;
          text-align: center;
        }
      }
    }

    .user-info {
      margin-top: auto;
      width: 100%;

      a {
        display: flex;
        justify-content: center;
        font-weight: 500;
        width: 100%;
      }
    }
  }
}